:root{
	--corbase1 :#c4caaa;
	--corbase2:#333;
	--espacamento:30px;
}

body{
	background: #333;
	width: 600px;
	font-family: 'Roboto', sans-serif;
	margin: auto;
}

.barra-topo {
	background-color: var(--corbase1);
	padding: 30px;
	display: flex;
	justify-content: space-between;
}

.barra-topo span{
	color: white;
	text-transform: 
}
.barra-topo a {
	color: #7e;
}

.cabecalho{
	background-color: white;
	padding: 30px;
	display: flex;
	justify-content: space-between;	
	align-items: center;

}

.cabecalho img{
	width: 80px;
	height: 80px;
}

.cabecalho a {
	color: var(--corbase2);
}

.banner img{
	width: 100%;
}
.banner div{
	background-color: #e3a459;
	padding: var(--espacamento);
}

.banner a{
	color: var(--cinzaescuro);
}

.duascolunas{
	display: flex;
}

.duascolunas div{
	background-color: white;
	padding: 10px 0px;
	margin: 10px 0px;
}

.duascolunas div:first-child{
	margin-right: 5px;
}

.duascolunas div:last-child{
	margin-left: 5px;
}

.duascolunas h2{
	color: var(--cinzaescuro);
	margin-top: 0px;
}

.duascolunas p{
	color: #aaaaaa;
}

.duascolunas button {
	color: white;
	background: var(--corbase1);
	border: 0;
	padding: 10px 20px
	border-radius:5px;
	transition: all 1s;
}

.duascolunas button:hover{
	background: var(--cinzaescuro);
	border-radius: 10px;
	cursor: pointer;

}

.imagemtexto{
	display: flex;
}

.imagemtexto img{
	width: 50%
}

.imagemtexto div{

}